<%= form_with model: @post, local: true do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  
    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>  <!-- Ensure it's named correctly -->
    </div>
  
    <div>
      <%= f.submit "Create Post" %>
    </div>
  <% end %>
  